@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic');

body{
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
    font-size: 16px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    outline: none;
    color: #507299;
    font-weight: bolder;
}

.container_main{
    height: 500px;
    text-overflow: ellipsis;
}
#title{
    background-color: #323332;
    color: #f8f9fa;
    height: 100px;
    line-height: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 2em;

    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8) inset;
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8) inset;
    box-shadow:0 0 20px rgba(0,0,0,0.8) inset;
}

.container_content{
    padding: 15px;
    margin: 10px;
    font-size: 1.25em;
    display: none;
}

#page-main:target, #page-event:target, #page-api:target{
    display: block;
}

.notice{
    color: #545454;
}

.menu{
    list-style: none;
    text-align: center;
    padding: 0;
}

.menu li{
    display: inline-block;
    margin: 10px;
}

.menu-item{
    width:150px;
    height:185px;
    /*background-color: rgba(0, 0, 0, 0.75);*/
    /*background: linear-gradient( to top , #474b4e, #65706c, #292f30 );*/
    background: -webkit-radial-gradient(300px 130px 140px, #474b4e, #65706c, #292f30);
    background: -o-radial-gradient(300px 130px 140px, #474b4e, #65706c, #292f30);
    background: -moz-radial-gradient(300px 130px 140px, #474b4e, #65706c, #292f30);
    background: radial-gradient(300px at 130px 140px, #474b4e, #65706c, #292f30);

    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.menu-icon{
    width: 150px;
    height: 150px;
    position: relative;
    line-height: 240px;
}

.menu-icon img{
    max-width: 100px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.description_menuitem{
    display: block;
    width: inherit;
    height: 35px;
    line-height: 35px;
    background-color: #323332;
    color: #f8f9fa;
    font-weight: bolder;
}

#Notify{
    position: fixed;
    z-index: 1000;
    top: 25px;
    left: 25px;
    width: 50%;
    height: inherit;
}

#btn-home{
    position: fixed;
    height: 2.67em;
    line-height: 2.67em;
    top: 0;
    left: 25px;
}

.container_notify{
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    /*border: 1px solid #fff;*/
    border-radius: 15px;
    max-height: 100px;
    padding: 15px 25px;
    margin: 20px;

    cursor: pointer;
}

.title{
    color: #507299;
    /*font-weight: bolder;*/
}

.bg-logo{
    background: url('../img/42.png');

    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);

    width: 128px;
    height: 128px;
    position: fixed;
    bottom: 35px;
    right: 50px;
    opacity: 0.3;
    z-index: -1;
}

/* 580px */
